.idea/
.vscode/
.vs/
cmake-build-debug/
cmake-build-release/
cmake-build-release-mingw/
cmake-build-debug-mingw/
cmake-build-debug-profile/
bin/
build/
out/
CMakeSettings.json
internal_docs/
.cmake_deps/


*.bak
*.bak1
*.bak2
*.bak3
